Codigos/Node Red/Flow_node_red.txt
[{"id":"24aeb0344a9adeeb","type":"tab","label":"Potencia","disabled":false,"info":""},{"id":"4a991469b1a1a2b6","type":"mqtt in","z":"24aeb0344a9adeeb","name":"","topic":"capstone_energia/potencia","qos":"1","datatype":"auto","broker":"6dc778c9.829c28","nl":false,"rap":true,"rh":0,"x":450,"y":40,"wires":[["eeef0f693f096fc8"]]},{"id":"eeef0f693f096fc8","type":"json","z":"24aeb0344a9adeeb","name":"","property":"payload","action":"obj","pretty":false,"x":650,"y":40,"wires":[["c010296e73da68f7","4b6049f83d4842ea"]]},{"id":"c010296e73da68f7","type":"function","z":"24aeb0344a9adeeb","name":"GuardarDatosDB","func":"msg.topic = \"INSERT INTO \" + msg.payload.id + \" (fecha,potencia,energia) VALUES ( NOW() ,'\" + msg.payload.potencia + \"' ,'\" + msg.payload.energia + \"')\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":40,"wires":[["1655b65dc53eece4"]]},{"id":"4b6049f83d4842ea","type":"debug","z":"24aeb0344a9adeeb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":80,"wires":[]},{"id":"1655b65dc53eece4","type":"mysql","z":"24aeb0344a9adeeb","mydb":"b1377a1b.ee0318","name":"potencia","x":1060,"y":40,"wires":[[]]},{"id":"9a7c6f0e.aa60d","type":"ui_date_picker","z":"24aeb0344a9adeeb","name":"","label":"Seleccionar fecha","group":"3e87e663.48ff3a","order":1,"width":0,"height":0,"passthru":true,"topic":"topic","topicType":"msg","x":830,"y":300,"wires":[["c1d751e1.c1c09"]]},{"id":"81839e93.6c176","type":"ui_dropdown","z":"24aeb0344a9adeeb","name":"nombre","label":"Nombre","tooltip":"","place":"Select option","group":"56812c69.011564","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[],"payload":"","topic":"topic","topicType":"msg","x":920,"y":960,"wires":[["f9bab22c.eb8c6"]]},{"id":"d8edf8d3.1098e8","type":"ui_switch","z":"24aeb0344a9adeeb","name":"","label":"Mostrar datos mas recientes","tooltip":"","group":"3e87e663.48ff3a","order":4,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":300,"y":300,"wires":[["ab713776.a61688","bab4b533.d2bbe8"]]},{"id":"f024c351.e2a4d","type":"ui_switch","z":"24aeb0344a9adeeb","name":"","label":"Mostrar datos mas antiguos","tooltip":"","group":"3e87e663.48ff3a","order":5,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":300,"y":380,"wires":[["667bf9be.281c58","5e1589da.acb048"]]},{"id":"aca6ca30.9d0b58","type":"ui_text_input","z":"24aeb0344a9adeeb","name":"","label":"Seleccionar hora","tooltip":"","group":"3e87e663.48ff3a","order":2,"width":0,"height":0,"passthru":true,"mode":"time","delay":300,"topic":"topic","topicType":"msg","x":830,"y":380,"wires":[["18a845d4.fc40da"]]},{"id":"aac66b3f.148e38","type":"ui_text_input","z":"24aeb0344a9adeeb","name":"","label":"Delta de tiempo (min)","tooltip":"","group":"3e87e663.48ff3a","order":3,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"topic","topicType":"msg","x":1020,"y":440,"wires":[["77003b31.40e1c4"]]},{"id":"ab713776.a61688","type":"function","z":"24aeb0344a9adeeb","name":"Habilitar/deshabilitar","func":"if(msg.payload === true)\n{\n    msg.enabled = false;\n}\nelse if(msg.payload === false)\n{\n    msg.enabled = true;\n}\n\nmsg.payload = global.get(\"Fecha\")\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":300,"wires":[["f024c351.e2a4d","9a7c6f0e.aa60d","aca6ca30.9d0b58"]]},{"id":"667bf9be.281c58","type":"function","z":"24aeb0344a9adeeb","name":"Habilitar/deshabilitar","func":"if(msg.payload === true)\n{\n    msg.enabled = false;\n}\nelse if(msg.payload === false)\n{\n    msg.enabled = true;\n}\n\nmsg.payload = global.get(\"Fecha\")\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":380,"wires":[["d8edf8d3.1098e8","9a7c6f0e.aa60d","aca6ca30.9d0b58"]]},{"id":"acfd6aa2.70e6a8","type":"debug","z":"24aeb0344a9adeeb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1270,"y":200,"wires":[]},{"id":"ca57dd50.0f59","type":"function","z":"24aeb0344a9adeeb","name":"AjusteFechaLocal","func":"\nvar present_date = new Date();\nvar offset = present_date.getTimezoneOffset();\nvar offsetTime = new Date(present_date.getTime() - offset * 60 * 1000);\nvar datum = Date.parse(offsetTime);\n\nmsg.payload = datum;\n\n\n\n\n//msg.payload = datum;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":220,"wires":[["9a7c6f0e.aa60d","aca6ca30.9d0b58","dc50aa31.d6a9d8"]]},{"id":"dfc07975.2744b8","type":"ui_chart","z":"24aeb0344a9adeeb","name":"","group":"61261643.cf7f58","order":1,"width":0,"height":0,"label":"Potencia [W]","chartType":"line","legend":"false","xformat":"YYYY-MM-DD HH:mm:ss","interpolate":"linear","nodata":"Sin datos","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1130,"y":1080,"wires":[[]]},{"id":"27cb599b.495bd6","type":"debug","z":"24aeb0344a9adeeb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":1240,"wires":[]},{"id":"6b41f19c.a2ce5","type":"ui_chart","z":"24aeb0344a9adeeb","name":"","group":"61261643.cf7f58","order":2,"width":0,"height":0,"label":"Energia [kW/h]","chartType":"line","legend":"false","xformat":"YYYY-MM-DD HH:mm:ss","interpolate":"linear","nodata":"Sin datos","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1140,"y":1140,"wires":[[]]},{"id":"dc3f7a6c.09dbd8","type":"inject","z":"24aeb0344a9adeeb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"3","topic":"","payload":"[]","payloadType":"json","x":890,"y":1240,"wires":[["6b41f19c.a2ce5","dfc07975.2744b8"]]},{"id":"f9bab22c.eb8c6","type":"change","z":"24aeb0344a9adeeb","name":"","rules":[{"t":"set","p":"nombre","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":960,"wires":[[]]},{"id":"9f743b70.97f9a8","type":"mqtt out","z":"24aeb0344a9adeeb","name":"Parametros","topic":"capstone_energia/parametrosGraficas","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"6dc778c9.829c28","x":1290,"y":140,"wires":[]},{"id":"1b09a6b7.8950e9","type":"function","z":"24aeb0344a9adeeb","name":"JSONParametros","func":"var mode = \"\"\nif(global.get(\"fin\") === true)\n{\n    mode = \"DIFF\"\n}\nelse if(global.get(\"inicio\") === true)\n{\n    mode = \"ADD\"\n}\nelse\n{\n    mode = \"FECHA\"\n}\n\nvar deltatime = global.get(\"deltatime\");\n\nif(deltatime === null || Math.abs(deltatime) < 1)\n{\n    deltatime = 1;\n    global.set(\"deltatime\",deltatime);\n}\nelse if(Math.abs(deltatime) > 1200)\n{\n    global.set(\"deltatime\",1200);\n}\n\n\nmsg.payload = \"{\\\"nombre\\\":\\\"\" + global.get(\"nombre\") + \"\\\",\" + \n              \"\\\"fecha\\\":\\\"\" + global.get(\"fecha\") + \"\\\",\" + \n              \"\\\"hora\\\":\\\"\" + global.get(\"hora\") + \"\\\",\" + \n              \"\\\"deltatime\\\":\\\"\" + deltatime + \"\\\",\" + \n              \"\\\"mode\\\":\\\"\" + mode + \n              \"\\\"}\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":140,"wires":[["acfd6aa2.70e6a8","9f743b70.97f9a8","ab9cd7a0.85bea8"]]},{"id":"77003b31.40e1c4","type":"change","z":"24aeb0344a9adeeb","name":"","rules":[{"t":"set","p":"deltatime","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":440,"wires":[[]]},{"id":"18a845d4.fc40da","type":"change","z":"24aeb0344a9adeeb","name":"","rules":[{"t":"set","p":"hora","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":380,"wires":[[]]},{"id":"c1d751e1.c1c09","type":"change","z":"24aeb0344a9adeeb","name":"","rules":[{"t":"set","p":"fecha","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":300,"wires":[[]]},{"id":"bab4b533.d2bbe8","type":"change","z":"24aeb0344a9adeeb","name":"","rules":[{"t":"set","p":"fin","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":260,"wires":[[]]},{"id":"5e1589da.acb048","type":"change","z":"24aeb0344a9adeeb","name":"","rules":[{"t":"set","p":"inicio","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":420,"wires":[[]]},{"id":"a0c3d5c5.c199c8","type":"inject","z":"24aeb0344a9adeeb","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"num","x":820,"y":440,"wires":[["aac66b3f.148e38"]]},{"id":"2229fdcf.b91192","type":"ui_button","z":"24aeb0344a9adeeb","name":"","group":"3e87e663.48ff3a","order":6,"width":0,"height":0,"passthru":false,"label":"Solicitar datos","tooltip":"","color":"","bgcolor":"","icon":"send","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":820,"y":140,"wires":[["1b09a6b7.8950e9","6f8326f6.daca98"]]},{"id":"dc50aa31.d6a9d8","type":"debug","z":"24aeb0344a9adeeb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":260,"wires":[]},{"id":"b5928beb.d43358","type":"inject","z":"24aeb0344a9adeeb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"3","topic":"","payload":"","payloadType":"date","x":370,"y":220,"wires":[["ca57dd50.0f59"]]},{"id":"ab9cd7a0.85bea8","type":"function","z":"24aeb0344a9adeeb","name":"Correcciondeltatime","func":"var deltatime = global.get(\"deltatime\");\n\nif(global.get(\"fin\") === true)\n{\n    deltatime = -Math.abs(deltatime);\n}\nelse if(global.get(\"inicio\") === true)\n{\n    deltatime = Math.abs(deltatime);\n}\n\nmsg.payload = deltatime;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1280,"y":360,"wires":[["aac66b3f.148e38"]]},{"id":"c867416c.de52a","type":"ui_button","z":"24aeb0344a9adeeb","name":"","group":"61261643.cf7f58","order":4,"width":0,"height":0,"passthru":false,"label":"Limpiar Graficas","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"topic","topicType":"msg","x":860,"y":1280,"wires":[["6b41f19c.a2ce5","dfc07975.2744b8"]]},{"id":"dee065a0.5a9b18","type":"mqtt in","z":"24aeb0344a9adeeb","name":"","topic":"capstone_energia/datosPotencia","qos":"2","datatype":"auto","broker":"6dc778c9.829c28","nl":false,"rap":true,"rh":0,"x":450,"y":1080,"wires":[["27cb599b.495bd6","7c18505c.29f0c"]]},{"id":"e49cbacf.62a498","type":"mqtt in","z":"24aeb0344a9adeeb","name":"","topic":"capstone_energia/datosEnergia","qos":"2","datatype":"auto","broker":"6dc778c9.829c28","nl":false,"rap":true,"rh":0,"x":450,"y":1140,"wires":[["27cb599b.495bd6","8768976b.205cc8"]]},{"id":"fe428f4b.882e4","type":"function","z":"24aeb0344a9adeeb","name":"Setup payload","func":"data = msg.payload\n\nmsg.payload = [{\n    \"series\": [\"Potencia\"],\n    \"xAxisID\": 'Tiempo',\n    \"yAxisID\": 'Potencia',\n    \"data\": [data],\n    \"labels\": [\"\"]\n}]\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":1080,"wires":[["dfc07975.2744b8"]]},{"id":"7c18505c.29f0c","type":"json","z":"24aeb0344a9adeeb","name":"","property":"payload","action":"","pretty":true,"x":670,"y":1080,"wires":[["fe428f4b.882e4"]]},{"id":"8768976b.205cc8","type":"json","z":"24aeb0344a9adeeb","name":"","property":"payload","action":"","pretty":true,"x":670,"y":1140,"wires":[["6985dde.1df1324"]]},{"id":"6985dde.1df1324","type":"function","z":"24aeb0344a9adeeb","name":"Setup payload","func":"data = msg.payload\n\nmsg.payload = [{\n    \"series\": [\"Potencia\"],\n    \"xAxisID\": 'Tiempo',\n    \"yAxisID\": 'Potencia',\n    \"data\": [data],\n    \"labels\": [\"\"]\n}]\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":1140,"wires":[["6b41f19c.a2ce5"]]},{"id":"a658e08.1437c2","type":"ui_button","z":"24aeb0344a9adeeb","name":"","group":"56812c69.011564","order":6,"width":0,"height":0,"passthru":false,"label":"Refrescar lista","tooltip":"","color":"","bgcolor":"","icon":"youtube_searched_for","payload":"{\"mode\":\"TABLA\"}","payloadType":"json","topic":"topic","topicType":"msg","x":940,"y":820,"wires":[["43e2e72c.1fdce8","5f5d6b67.ab3734"]]},{"id":"6f8326f6.daca98","type":"function","z":"24aeb0344a9adeeb","name":"Deshabilitar solicitar boton","func":"\nmsg.enabled = false;\nmsg.background = \"grey\";\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":200,"wires":[["2229fdcf.b91192"]]},{"id":"27d09256.bf259e","type":"complete","z":"24aeb0344a9adeeb","name":"","scope":["fe428f4b.882e4","6985dde.1df1324"],"uncaught":false,"x":370,"y":180,"wires":[["efccdda7.40da5"]]},{"id":"efccdda7.40da5","type":"function","z":"24aeb0344a9adeeb","name":"Habilitar solicitar boton","func":"msg.enabled = true;\nmsg.background = \"blue\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":140,"wires":[["2229fdcf.b91192"]]},{"id":"18605b35.e5c7b5","type":"inject","z":"24aeb0344a9adeeb","name":"","props":[{"p":"enabled","v":"true","vt":"bool"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"3","topic":"","x":390,"y":140,"wires":[["efccdda7.40da5"]]},{"id":"43e2e72c.1fdce8","type":"mqtt out","z":"24aeb0344a9adeeb","name":"Buscar nombres tabla","topic":"capstone_energia/parametrosGraficas","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"6dc778c9.829c28","x":1140,"y":780,"wires":[]},{"id":"d26e724b.ac7c1","type":"debug","z":"24aeb0344a9adeeb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":920,"wires":[]},{"id":"116d5105.8e8c9f","type":"mqtt in","z":"24aeb0344a9adeeb","name":"","topic":"capstone_energia/nombreTablas","qos":"2","datatype":"json","broker":"6dc778c9.829c28","nl":false,"rap":true,"rh":0,"x":490,"y":960,"wires":[["65aadc8a.ce8004","8acabb37.adf768"]]},{"id":"d6e3912d.b5813","type":"inject","z":"24aeb0344a9adeeb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"3","topic":"","payload":"{\"mode\":\"TABLA\"}","payloadType":"json","x":930,"y":780,"wires":[["43e2e72c.1fdce8"]]},{"id":"65aadc8a.ce8004","type":"change","z":"24aeb0344a9adeeb","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":960,"wires":[["81839e93.6c176","d26e724b.ac7c1"]]},{"id":"985fb410.f5e048","type":"complete","z":"24aeb0344a9adeeb","name":"","scope":["65aadc8a.ce8004"],"uncaught":false,"x":510,"y":920,"wires":[["6b4c6f92.34635","3e5b5de0.97c672"]]},{"id":"8acabb37.adf768","type":"change","z":"24aeb0344a9adeeb","name":"","rules":[{"t":"set","p":"opcionesTablas","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":1000,"wires":[[]]},{"id":"6b4c6f92.34635","type":"function","z":"24aeb0344a9adeeb","name":"SeleccionarOpcion","func":"var opciones = global.get(\"opcionesTablas\");\nmsg.payload = opciones[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":920,"wires":[["81839e93.6c176"]]},{"id":"5f5d6b67.ab3734","type":"function","z":"24aeb0344a9adeeb","name":"Deshabilitar tabla boton","func":"\nmsg.enabled = false;\nmsg.background = \"grey\";\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":880,"wires":[["a658e08.1437c2"]]},{"id":"3e5b5de0.97c672","type":"function","z":"24aeb0344a9adeeb","name":"Habilitar tabla boton","func":"msg.enabled = true;\nmsg.background = \"blue\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":820,"wires":[["a658e08.1437c2"]]},{"id":"2ea7023f.08138e","type":"ui_dropdown","z":"24aeb0344a9adeeb","name":"","label":"Seleccionar mes","tooltip":"","place":"Select option","group":"c0ae7c29.ab168","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":870,"y":560,"wires":[["83af3122.06ac2","fc947b27.8f8388"]]},{"id":"82b0739f.08c68","type":"mqtt out","z":"24aeb0344a9adeeb","name":"Parametros","topic":"capstone_energia/parametrosGraficas","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"6dc778c9.829c28","x":1290,"y":560,"wires":[]},{"id":"f6f8e232.183ad","type":"ui_text","z":"24aeb0344a9adeeb","group":"c0ae7c29.ab168","order":4,"width":0,"height":0,"name":"","label":"Costo por consumo","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":680,"wires":[]},{"id":"e2955c3d.57145","type":"inject","z":"24aeb0344a9adeeb","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"3","topic":"","payload":"","payloadType":"str","x":690,"y":720,"wires":[["f6f8e232.183ad","e795b322.dc85f"]]},{"id":"83af3122.06ac2","type":"function","z":"24aeb0344a9adeeb","name":"JSONParamMes","func":"\n\nmsg.payload = \"{\\\"nombre\\\":\\\"\" + global.get(\"nombre\") + \"\\\",\" + \n              \"\\\"fecha\\\":\" + msg.payload + \",\" + \n              \"\\\"mode\\\":\\\"\" + \"MES\" + \n              \"\\\"}\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1090,"y":560,"wires":[["82b0739f.08c68"]]},{"id":"2c84d111.18397e","type":"debug","z":"24aeb0344a9adeeb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":600,"wires":[]},{"id":"99d4ac4c.5cfce","type":"function","z":"24aeb0344a9adeeb","name":"JSONParamMes","func":"\n\nmsg.options = [{\"Enero\":1},{\"Febrero\":2},{\"Marzo\":3},{\"Abril\":4},{\"Mayo\":5},{\"Junio\":6},{\"Julio\":7},{\"Agosto\":8},{\"Septiembre\":9},{\"Octubre\":10},{\"Noviembre\":11},{\"Diciembre\":12}];\nconst d = new Date();\nmsg.payload = d.getMonth() + 1;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":560,"wires":[["2ea7023f.08138e","86c8b425.a66318"]]},{"id":"86c8b425.a66318","type":"debug","z":"24aeb0344a9adeeb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":520,"wires":[]},{"id":"56f07c9.df37384","type":"complete","z":"24aeb0344a9adeeb","name":"","scope":["f9bab22c.eb8c6"],"uncaught":false,"x":450,"y":560,"wires":[["99d4ac4c.5cfce"]]},{"id":"5985a263.ca7fcc","type":"mqtt in","z":"24aeb0344a9adeeb","name":"","topic":"capstone_energia/consumoEnergia","qos":"2","datatype":"json","broker":"6dc778c9.829c28","nl":false,"rap":true,"rh":0,"x":400,"y":640,"wires":[["2c84d111.18397e","8ef934f8.d1c198","1219db68.389345"]]},{"id":"e795b322.dc85f","type":"ui_text","z":"24aeb0344a9adeeb","group":"c0ae7c29.ab168","order":3,"width":0,"height":0,"name":"","label":"Energia consumida [kW/h]","format":"{{msg.payload}}","layout":"row-spread","x":960,"y":640,"wires":[]},{"id":"8ef934f8.d1c198","type":"function","z":"24aeb0344a9adeeb","name":"Calcular costo","func":"var costo_total = 0;\nvar energia = msg.payload;\n\nif(energia <= 75)\n{\n    costo_total = energia * 0.833;\n}\nif(energia > 75 && energia <= 140)\n{\n    costo_total = 75 * 0.833 + (energia - 75) *1.008;\n}\nif(energia > 140)\n{\n    costo_total = 75 * 0.833 + 65 * 1.008 + (energia - 140) * 2.948;\n}\n\nvar options = {style : \"currency\",currency : \"MXN\"};\nvar numberFormat = new Intl.NumberFormat(\"es-MX\",options);\n\nmsg.payload = numberFormat.format(costo_total);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":680,"wires":[["f6f8e232.183ad"]]},{"id":"1219db68.389345","type":"function","z":"24aeb0344a9adeeb","name":"Formato energia","func":"var energia = msg.payload;\n\nmsg.payload = energia.toFixed(5);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":640,"wires":[["e795b322.dc85f"]]},{"id":"fc947b27.8f8388","type":"change","z":"24aeb0344a9adeeb","name":"","rules":[{"t":"set","p":"mes","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":600,"wires":[[]]},{"id":"70c91afd.63e2f4","type":"ui_text","z":"24aeb0344a9adeeb","group":"c0ae7c29.ab168","order":2,"width":6,"height":3,"name":"","label":"Tarifas (febrero 2022)","format":"{{msg.payload}}","layout":"col-center","x":600,"y":480,"wires":[]},{"id":"75d2577d.08e8c8","type":"inject","z":"24aeb0344a9adeeb","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"3","topic":"","payload":"","payloadType":"date","x":190,"y":480,"wires":[["26bce16c.7567ce"]]},{"id":"3c6a2f00.144c02","type":"debug","z":"24aeb0344a9adeeb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":520,"wires":[]},{"id":"26bce16c.7567ce","type":"function","z":"24aeb0344a9adeeb","name":"Desplegar tarifas","func":"\nmsg.payload = \"Primeros 75 kW/h: $0.833 <br/> Siguientes 65 kW/h: $1.008 <br/> Costo adicional por kW/h: $2.948\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":480,"wires":[["70c91afd.63e2f4","3c6a2f00.144c02"]]},{"id":"6dc778c9.829c28","type":"mqtt-broker","name":"Broker publico","broker":"3.126.191.185","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"b1377a1b.ee0318","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"potencia","tz":"","charset":"UTF8"},{"id":"3e87e663.48ff3a","type":"ui_group","name":"Seleccionar ventana de tiempo para las graficas","tab":"6d54a11.6b2c0e","order":3,"disp":true,"width":"6","collapse":false},{"id":"56812c69.011564","type":"ui_group","name":"Seleccionar PC","tab":"6d54a11.6b2c0e","order":1,"disp":true,"width":"6","collapse":false},{"id":"61261643.cf7f58","type":"ui_group","name":"Graficas del consumo de energia","tab":"6d54a11.6b2c0e","order":4,"disp":true,"width":"12","collapse":false},{"id":"c0ae7c29.ab168","type":"ui_group","name":"Costo por consumo de energia (mensual)","tab":"6d54a11.6b2c0e","order":2,"disp":true,"width":"6","collapse":false},{"id":"6d54a11.6b2c0e","type":"ui_tab","name":"Medidor de potencia y energia","icon":"dashboard","disabled":false,"hidden":false}]